{% extends "base.html" %}

{% block head %}

<title>Update Journal</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<a href="{{url_for('contents')}}">Journal Log</a>
 <h1 style="text-align: centre;">Update Journal</h1>
 <div class="main-content">
 <form action="/update/{{entry_to_update.id}}" method="POST" style="text-align: right;">
   <div class="page">
    <textarea name="content" id="content" rows="50" cols="100">{{entry_to_update.content}}</textarea>
   </div>
    <input type="submit" value="Submit">
 </form>
 </div>
 </div>
 {% endblock %}